*{
    margin: 10px 10px;
}
body{
    background-color: rgb(117, 62, 62);
    color: rgb(255, 1, 1);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{ 
    width: 400px;
    height: auto;
    border-radius: 40px;
    padding: 40px 60px;
    background: rgba(0, 0, 0, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    text-align: center;}
   input{
    background-color:rgba(150, 90, 67, 0.856);
   }
    
    input::placeholder{
        color: rgb(255, 247, 247);
    }
    
    button{
    background-color: rgb(145, 65, 65);
    color: rgb(0, 0, 0);
  }
  button:hover{
    background-color: aqua;
    color: black;
  }
  
    #resposta{
    border: 1px dotted rgb(255, 123, 0);
}


label{
    font-size: 1.2rem;
}
h1{
    color: rgb(255, 255, 255);
    font-size: 3rem;
   }